* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    padding: 20px 0px;
    background-color: darkslategray;
  }
  header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: darkslategrey;
    margin: 0;
    background-color: lightblue;
    display: inline;
    padding: 8px 30px;
  }
  
  header a {
    text-decoration: none;
    color: lightblue;
  }
  header nav {
    float: right;
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 28px;
  }
.background-image {
    
    font-size: 32px;
    float: right;
    padding: 10px 30px; 
    background-color: lightblue;
    margin: 100px 100px 0 0;

}
.hero{
    background-image: url(./background.jpg);
    width: auto;
    height: 200px;    
}
.section-title {
    font-size: 60px;
    color: lightblue;
    display: inline-block;
    width: 20%;
}
.filler {
    display: inline-block;
    text-align: left;
    margin: 30px 70px 0px 0px;
    width: 50%;
}
#about-me {
    margin: 40px 20px 40px 100px;
    padding:40px 20px 30px;
    border-right: 5px solid lightblue;
    text-align: center;
    display: inline-block;
}
.image-1 {
    width: max-content;
    height: auto;
    border: 6px solid gray;
    margin-bottom: 20px;
    float: right;
    display: inline-flex;
  }
.top-picture {

}


#work {
  margin: 40px 20px 40px 100px;
  padding:40px 20px 30px;
  border-right: 5px solid lightblue;
  text-align: center;
  display: inline-block;


}